<?php include_once(__HEADER__); ?>

<h2>Registrazione nuovo esame:</h2>
<?php
    if($result != null)
        echo '<h3 style="color: ' . (strpos($result,'Errore')!==FALSE?'red':'green') . '">' . $result . '</h3>';
?>

<form method="post" action="<?php echo 'http://' . $_SERVER['HTTP_HOST'] . $_SERVER['SCRIPT_NAME']; ?>">
    Studente: <select name="student">
    <?php
    foreach($students as $student){
        echo '<option value="' . $student->id . '">'. $student .'</option>';
    } ?></select><br>

    Corso: <select name="subject">
    <?php
    foreach($subjects as $subject){
        echo '<option value="' . $subject->id . '">'. $subject .'</option>';
    } ?></select><br>
    Voto: <input type="text" maxlength="2" name="degree"> Lode: <input type="checkbox" name="lode"><br>
    Data: <input type="date" name="date" value="<?php echo date('Y-m-d',time()); ?>"><br>
    <input type="submit" value="Registra>>">
</form>
<?php
include_once(__MENU__);
include_once(__FOOTER__); ?>