<?php include_once(__HEADER__); ?>

<h2>Inserimento nuovo studente:</h2>
<?php
    if($result != null)
        echo '<h3 style="color: ' . (strpos($result,'Errore')!==FALSE?'red':'green') . '">' . $result . '</h3>';
?>
<!-- TODO: tabella! P******* fa schifo così!-->
<form method="post" action="<?php echo 'http://' . $_SERVER['HTTP_HOST'] . $_SERVER['SCRIPT_NAME']; ?>">
    Matricola: <input type="text" name="id"><br>
    Cognome: <input type="text" name="surname"><br>
    Nome: <input type="text" name="name"><br>
    Data di nascita(GG/MM/AAAA): <input name="date" type="date" value="1995-01-01"><br>
    Laurea: <select name="course">
    <?php
        foreach($courses as $course) {
            echo '<option value="' . $course->PK_id. '">' . $course->nome . '</option>';
    }
    ?></select><br>
    <input type="submit" value="Aggiungi >>">

</form>

<?php
include_once(__MENU__);
include_once(__FOOTER__); ?>