<a style="text-align: center; width: 25%; float: left; background-color: lightseagreen;"
   href="<?php echo __URL__ . 'ricerca.php'; ?>">Ricerca
    studente</a>
<a style="text-align: center; width: 25%; float: left; background-color: lightseagreen;"
   href="<?php echo __URL__ . 'insExam.php'; ?>">Registra
    un nuovo esame</a>
<a style="text-align: center; width: 25%; float: left; background-color: lightseagreen;"
   href="<?php echo __URL__ . 'insStud.php'; ?>">Inserisci
    Studente</a>
<a style="text-align: center; width: 25%; float: left; background-color: lightseagreen;"
   href="<?php echo __URL__ . 'logout.php'; ?>">Logout</a>
