<?php include_once(__HEADER__); ?>
<h2>
    Ricerca studente:
</h2>
<form method="post" action="<?php echo 'http://' . $_SERVER['HTTP_HOST'] . $_SERVER['SCRIPT_NAME']; ?>">
    Matricola: <input type="text" name="id"><br>
    Cognome: <input type="text" name="surname"><br>
    Nome: <input type="text" name="name"><br>
    <input type="submit" value="Cerca >>">
</form>

<?php

if (isset($students)) {
    echo '<h2>Studenti trovati:</h2>';
    echo '<ul>';
    if (count($students) > 0) {
        foreach ($students as $student) {
        echo "<li><a href=\"" . __URL__ . "studente.php?id=$student->matricola\">$student->cognome $student->nome</a></li>";

        }
    } else
    echo "Nessuno studente corrisponde ai criteri di ricerca specificati!";
    echo "</ul>";
}

include_once(__MENU__);
include_once(__FOOTER__); ?>