<?php include_once(__HEADER__); ?>
<header>
    <table style="background-color: cadetblue; width: 100%;">
        <tr>
            <td>
                <h2 style="width: 100%; background-color: cadetblue; padding-bottom: 0.5%;">Ricerca studente:</h2>
            </td>
        </tr>
        <tr>
            <td>
                <?php include_once(__MENU__); ?>
            </td>
        </tr>
    </table>
</header>
<div>
    <form method="post" action="<?php echo 'http://' . $_SERVER['HTTP_HOST'] . $_SERVER['SCRIPT_NAME']; ?>">
        <table style="padding-top: 1%">
            <tr>
                <td>
                    Matricola:
                </td>
                <td>
                    <input type="text" name="id">
                </td>
            </tr>
            <tr>
                <td>
                    Cognome:
                </td>
                <td>
                    <input type="text" name="surname">
                </td>
            </tr>
            <tr>
                <td>
                    Nome:
                </td>
                <td>
                    <input type="text" name="name"><br>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">
                    <input type="submit" value="Cerca >>">
                </td>
            </tr>
        </table>
    </form>
</div>
<div>
<?php

if (isset($students)) {
    echo '<h2>Studenti trovati:</h2>';
    echo '<ul>';
    if (count($students) > 0) {
        foreach ($students as $student) {
        echo "<li><a href=\"" . __URL__ . "studente.php?id=$student->matricola\">$student->cognome $student->nome</a></li>";

        }
    } else
    echo "Nessuno studente corrisponde ai criteri di ricerca specificati!";
    echo "</ul></div>";
}

include_once(__FOOTER__); ?>